*{
	margin: 0px;
	padding: 0px;

	box-sizing: border-box;
}
body{
	font-family: Montserrat, Sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}
form{
	display: flex;
	flex-direction: column;

	width: 400px;
}
input{
	margin:10px 0;
	padding: 10px;

	border: unset;
	border-bottom: 2px solid blue;
}
button{
	padding: 10px;

	border:unset;

	background: #e3e3e3;
	cursor: pointer;
}

.msg{
	border:2px solid red;
	border-radius: 4px;

	padding: 10px;
	margin: 5px 0;

	text-align: center;
	font-family: bold;
}